server:
  port: 8082

spring: 
  datasource: 
    url: jdbc:h2:mem:ecommerce_test;DB_CLOSE_DELAY=-1;MODE=PostgreSQL 
    driverClassName: org.h2.Driver 
    username: sa 
    password: 
  jpa: 
    hibernate: 
      ddl-auto: create-drop 
    show-sql: true 
 
jwt: 
  secret: "test-secret" 
  issuer: "ecommerce-test" 
  expiry-minutes: 5 